@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
:root {
  --white: #fff;
  --black: #000;
  --primary-blue: #4468e2;
  --blue1: #d2ddf5;
  --blue2: #c3d1f1;
  --blue3: #d2ddf5;
  --blue4: #e1e8f8;
  --blue5: #f0f4fc;
  --blue6: #f7f9fe;
  --primary-dark: #163235;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--white);
}
.btn {
  border: none;
  background: var(--primary-blue);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.2s all;
}
.btn:hover {
  background: var(--primary-dark);
}
.btn:active {
  transform: scale(0.98);
}
input[type="text"] {
  border: none;
  background: none;
  font-family: inherit;
  color: #7e7e7e;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-headings {
  font-size: 4rem;
  color: var(--primary-dark);
}
/* End of Common Styles */

/* start of header */
.header {
  min-height: 100vh;
  padding: 1rem 5rem;
}
/* start of navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 5rem; */
  min-width: 100%;
  z-index: 1000;
}
.navbar__links {
  display: flex;
}
.navbar__links > li {
  padding: 0 2rem;
}
.navbar__links > li > a {
  color: var(--primary-blue);
  font-weight: 500;
  transition: 0.2s all;
}
.navbar__links > li > a:hover {
  color: var(--primary-dark);
}
.navbar__links > li.active a {
  color: var(--primary-dark);
  font-weight: 600;
}
.navbar__menuBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: none;
}
/* start of navigation for mobile */
.mobile-menu{
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100vw;
  background: var(--primary-dark);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-100%);
  transition: .4s all;
}
.mobile-menu.active{
  transform: translateY(0);
}
.mobile-menu li{
  margin: .5rem 0;
}
.mobile-menu li a{
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
.mobile__menuBtn{
  position: absolute;
  top: 2rem;
  right: 3rem;
  border-radius: .3rem;
}
/* end of navigation for mobile */
/* end of navbar */
.header__showcase {
  background: url(images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.5rem;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  text-align: center;
  z-index: 1;
}
.header__showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.header__showcase-heading {
  text-transform: uppercase;
  font-size: 4rem;
}
.header__showcase-subHeading {
  max-width: 40%;
  line-height: 1.5;
  margin-top: 1rem;
}
.header__showcase-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(0.5rem);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: var(--black);
  margin-top: 2rem;
}
.showcase__location {
  padding: 1rem;
  margin-right: 3rem;
}
.showcase__location p {
  font-weight: 500;
  text-transform: capitalize;
}
.location-input {
  position: relative;
  margin-top: 1rem;
}
.location-input i {
  color: #7e7e7e;
  font-weight: 300;
  font-size: 1.2rem;
}
.location-input input[type="text"]::placeholder {
  color: #7e7e7e;
}
.showcase__check-in,
.showcase__check-out {
  text-align: left;
}
.showcase__check-in p,
.showcase__check-out p {
  font-weight: 500;
}
.showcase__check-in input[type="text"],
.showcase__check-out input[type="text"] {
  margin-top: 1rem;
  max-width: 60%;
}
.exploreBtn {
  border-radius: 0.3rem;
  font-size: 1.6rem;
  padding: 1.5rem 2.5rem;
}
/* end of header */

/* start of offering section */
.offering-section {
  padding: 10rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offering-cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.offering-card {
  padding: 1rem;
  color: var(--black);
  min-width: 20%;
}
.offering-card i {
  color: var(--primary-blue);
  font-size: 5rem;
  font-weight: 200;
}
.offering-card h4 {
  font-weight: 500;
  font-size: 2rem;
  margin: 1.5rem 0;
}
.offering-card p {
  max-width: 95%;
}
/* end of offering section */

/* start of recommendation section */
.recommendation-section {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-dark);
}
.recommendation-section h1 {
  font-size: 3rem;
  color: var(--primary-dark);
}
.recommendation__tabs {
  display: flex;
  margin: 4rem 0;
}
.recommendation__tabs > li {
  padding: 1rem 3rem;
}
.recommendation__tabs > li.active a {
  color: var(--primary-blue);
}
.recommendation__tabs > li > a {
  color: var(--primary-dark);
  font-weight: 600;
  transition: 0.2s all;
}
.recommendation__tabs > li > a:hover {
  color: var(--primary-blue);
}
.recommendation__cards-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.recommendation__cards-container.active {
  display: flex;
}
.recommended__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 33rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  animation: tabsAnimation 0.7s;
}
@keyframes tabsAnimation {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.img__box {
  width: 30rem;
  align-self: center;
}
.img__box img {
  width: 100%;
}
.recommended__card h4 {
  color: var(--primary-dark);
  cursor: pointer;
}
.recommended__card h4:hover {
  text-decoration: underline;
}
.recommended__card h4 {
  font-size: 2.5rem;
  font-weight: 500;
}
.recommended__card p {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}
.recommended__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.recommended__price-icons {
  display: flex;
}
.recommended__price-icons > div {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  background: var(--primary-dark);
  border-radius: 50%;
}
.recommended__price-icons > div > i {
  color: var(--white);
  font-size: 1.3rem;
}
.recommended__price .price {
  font-weight: 600;
  font-size: 2rem;
}
.recommended__distance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.recommended__distance p {
  font-weight: 500;
}
/* end of recommendation section */

/* start of blogs section */
.blog-section {
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.blog-section .main-headings {
  margin-bottom: 2rem;
}
.blogs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.main-blog {
  min-width: 56rem;
  min-height: 38rem;
  position: relative;
  background: url(images/blog1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.main-blog h1 {
  text-align: center;
  max-width: 80%;
}
.sub-blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog {
  position: relative;
  z-index: 1;
  min-width: 56rem;
  min-height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.7rem;
}
.blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.blog h1 {
  max-width: 80%;
  font-size: 2.2rem;
}
.sub-blog1 {
  background: url(images/blog2.png);
}
.sub-blog2 {
  background: url(images/blog3.png);
}
/* end of blogs section */

/* start of customers section */
.customers-section {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--blue1);
  overflow: hidden;
}
.customers-carousel {
  display: flex;
  min-width: 95%;
  margin-top: 2rem;
  transition: 1s all;
}
.customer-card {
  color: var(--primary-dark);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  z-index: 1000;
}
.customer-card .review {
  font-size: 2rem;
  max-width: 50%;
  padding: 3rem;
  font-weight: 500;
}
.customer-profile {
  display: flex;
  align-items: center;
}
.about-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}
.profile-img {
  width: 7rem;
}
.profile-img img {
  width: 100%;
}
.about-profile h4 {
  margin-bottom: 0.5rem;
}
/* end of customers section */
/* start of footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background: var(--primary-dark);
}
.social-links {
  display: flex;
}
.social-links a {
  margin-right: 1.3rem;
}
.social-links a i {
  color: var(--white);
  font-size: 2rem;
}
/* end of footer */

/* start of media queries */
@media (min-width: 1440px){
  html{
    font-size: 100%;
  }
}
@media (max-width: 1300px) {
  .header__showcase-subHeading {
    max-width: 60%;
  }
  .customer-card .review{
    max-width: 60%;
  }
  .main-blog{
    min-height: 16rem;
    max-width: 56rem;
  }
}
@media (max-width:1000px){
  .recommendation__tabs > li {
    padding: 1rem;
    border: .2rem solid var(--blue1);
    margin: 1rem;
    border-radius: .5rem;
  }
  .recommendation__tabs > li > a {
    font-size: 1.5rem;
  }
  .customer-card .review{
    max-width: 70%;
  }
}
@media (max-width: 940px) {
  .header__showcase-bar {
    flex-direction: column;
  }
  .exploreBtn {
    padding: 0.8rem 1.3rem;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .showcase__check-in,
  .showcase__check-out {
    display: none;
  }
  .header__showcase-subHeading {
    font-size: 1.5rem;
  }
  .offering-cards__container {
    flex-direction: column;
    text-align: center;
  }
  .offering-card {
    max-width: 50%;
  }
  .offering-card p{
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .navbar__links {
    display: none;
  }
  .navbar__btn {
    display: none;
  }
  .navbar__menuBtn {
    display: block;
  }
  .recommendation-section{
    padding: 5rem 0;
  }
}
@media (max-width: 850px) {
  .recommendation__tabs {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .header__showcase-subHeading{
    max-width: 80%;
  }
  .header__showcase{
    min-height: 90vh;
    border-radius: 0;
  }
  .main-headings{
    font-size: 2.5rem;
  }
  .header{
    padding: 1rem 0rem;
  }
  .navbar{
    padding: 0 3rem;
  }
}
@media (max-width: 670px) {
  .footer .copyright{
    font-size: 1.3rem;
  }
  .customer-card .review{
    font-size: 1.6rem;
  }
}
@media (max-width: 650px) {
  .header__showcase-heading{
    font-size: 3rem;
  }
  .header__showcase-subHeading{
    max-width: 90%;
    font-size: 1.3rem;
  }
  .offering-card{
    max-width: 70%;
  }
}
@media (max-width: 600px) {
  .blog-section{
    padding: 5rem 2rem;
  }
  .blogs-container{
    width: 80%;
  }
  .sub-blogs{
    width: 100%;
  }
  .main-blog{
    min-width: 100%;
    border-radius: .4rem;
  }
  .main-blog h1{
    font-size: 1.7rem;
  }
  .blog-card{
    min-width: 100%;
    border-radius: .4rem;
  }
  .blog-card h1{
    font-size: 1.7rem;
    max-width: 90%;
  }
  .footer{
    padding: 5rem 2rem;
  }
  .header__showcase-heading{
    font-size: 3.5rem;
  }
}
@media (max-width: 500px){
  .main-headings{
    font-size: 2.5rem !important;
  }
  .customer-card .review{
    font-size: 1.4rem;
    max-width: 60%;
    padding: 1.5rem;
  }
  .copyright{
    max-width: 60%;
  }
  .offering-card{
    max-width: 90%;
  }
}
@media (max-width: 430px){
  .offering-card{
    max-width: 100%;
  }
  .main-headings{
    font-size: 2rem !important;
    text-align: center;
  }
  .profile-img{
    width: 5rem;
  }
  .about-profile h4{
    font-size: 1.3rem;
  }
  .about-profile p{
    font-size: 1.3rem;
  }
}
@media (max-width: 330px){
  .customers-section{
    padding: 3rem;
  }
  .footer{
    padding: 1.5rem;
  }
  .recommendation-section{
    overflow: hidden;
  }
  .header__showcase-heading{
    font-size: 2.6rem;
  }
  .header__showcase-subHeading{
    font-size: 1.1rem;
    font-weight: 500;
  }
  .offering-section{
    padding: 5rem 2rem;
  }
  .footer .copyright{
    font-size: 1rem;
  }
  .social-links a i{
    font-size: 1rem;
  }
}
/* end of media queries */
